.c-btn {
    padding: .1em .5em;
    color: #f44242;
    background: #ffe2e2;
    border: 2px solid #fababa;
    border-radius: 1em;
    cursor: pointer;
    transition: background .15s ease-out;
}
  
.c-btn:hover {
    background: #fbcbcb;
}
  
.c-btn:focus {
    outline: 0;
    box-shadow: 0 0 4px currentColor;
}

.fa-shopping-cart {
    margin-right: 5px;
}

.c-modal-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: 1000; /* This must be at a higher index to the rest of your page content */
    transform: translateZ(0);
    background-color: rgba(65, 65, 65, 0.1);
}
  
.c-modal {
    border: 2px solid #97aff1;
    border-radius: 1em;
    position: fixed;
    margin-top: 100px;

    top: 0;
    left: 800px;
    width: 460px;
    height: 500px;
    padding: 2.5em 1.5em 1.5em 1.5em;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.c-modal__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .5em;
    line-height: 1;
    background: #f6f6f7;
    border: 0;
    box-shadow: 0;
    cursor: pointer;
}
  
.c-modal__close-icon {
    width: 25px;
    height: 25px;
    fill: transparent;
    stroke: black;
    stroke-linecap: round;
    stroke-width: 2;
}
  
.c-modal__body {
    padding-top: .25em;
}

.u-hide-visually {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.u-lock-scroll {
    overflow: hidden !important;
}
