input + span {
    padding-right: 30px;
}
  
input:invalid+span:after {
    position: absolute; content: '✖';
    padding-left: 5px;
}
  
input:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
}

.condition {
    margin-right: 5px;
}