.auth-container {
    display: flex;
    padding: 16px 24px 24px;
    margin-top: 64px;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
    border-radius: 4px;
    background-color: #fff;
}

.SignUpForm {
    display: block;
    width: 100%;
    margin-top: 8px;
    box-sizing: inherit;
}

.contain {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0em;
    text-align: center;
}