.footer {
    background-image: linear-gradient(to bottom right, rgb(3, 43, 104), rgb(14, 133, 231));
    padding: 20px;
    width: 100%;
    color: white;
    font-style: italic;
    position: absolute;
    box-shadow: 10px 5px 20px 2px rgb(2, 1, 0);
    z-index: 99;
}