.navbar {
    padding: 20px;
    font-family: "Cormorant SC";
    box-shadow: 10px 5px 20px 2px rgb(2, 1, 0);
    background-image: linear-gradient(to bottom right, rgb(3, 43, 104), rgb(14, 133, 231));
    position: fixed;
    width: 100%;
    z-index: 95;
    white-space: nowrap;
    color: white;
}

.btn {
    color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: rgb(194, 194, 194);
    color: rgb(53, 52, 52);
}

.text-center {
    margin-left: 320px;
}